PORT=3001
APP_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/interval
SECRET=UGIGjDtsPhTmG5HgON6daMi3aq3BgcGdAZgPGivVn4M=
WSS_API_SECRET=UGIGjDtsPhTmG5HgON6daMi3aq3BgcGdAZgPGivVn4M=
AUTH_COOKIE_SECRET=UGIGjDtsPhTmG5HgON6daMi3aq3BgcGdAZgPGivVn4M=
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
EMAIL_FROM=admin@localhost.com
